BURLA_EMAIL=joeyper23@gmail.com
BURLA_AUTH_PROVIDER=google
BURLA_URL=https://plus-dig.burla.dev/

ANTHROPIC_API_KEY=sk-ant-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

PIPELINE_HARD_CAP_USD=500
PIPELINE_HARD_CAP_HOURS=8
